<%= form_for [@user, @post], url: user_post_path(current_user.id, params[:id]),method: :put do |f| %>
  <div class="form-group">
    <%= f.text_field :caption %>
  </div>
  <div class="text-center">
    <%= f.submit 'Update Post', class: 'btn btn-primary'%>
  </div>
<% end %>
