<%= form_for [@comment], url: user_post_comment_path(current_user.id, params[:post_id], params[:id]), html: { method: :put } do |f| %>
  <div>
    <%= f.label :content %>
    <%= f.text_field :content%>
  </div>
  <div>
    <%= f.submit "Update"%>
  </div>
<% end %>
